body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:#ebebeb;
}
.container{
  text-align: center;
  display:flex;
  align-items: center;
  padding-left: 2rem;
  height: 100px;
}
.container h3{
  margin-right: 2rem;
  color:#333333;
}
.container input{
  border:transparent;
  background:#fff;
  padding:0.5rem 2rem;
  border-radius: 5px;
  margin-right: 2rem;
}
.btn-generate{
  background: #2080fd;
  color:#fff;
  padding:0.5rem 2rem;
  text-transform: uppercase;
  border: transparent;
  border-radius: 5px;
  cursor: pointer;
}
.colors{
  min-height: calc(100vh - 100px);
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(96px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(223.33px, 1fr));
  text-align: center;
  align-items: center;
  cursor: pointer;
}
.color{
 padding:1rem 2rem;
 min-height: 200px;
}
.light-color{
  color:#fff;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
